app/__pycache__/*
debug/.venv/*
debug/.env
frontend/src/app/.env.local

frontend/node_modules
backend/app/.env
backend/venv

backend/.env
backend/.env.local
backend/.env.develop

.env
.env.development
.env.production

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
frontend/!.yarn/patches
frontend/!.yarn/plugins
frontend/!.yarn/releases
frontend/!.yarn/versions
frontend/coverage
frontend/.next/
frontend/out/
frontend/build
frontend/.DS_Store
frontend/*.pem
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*
frontend/.env*
frontend/.vercel
frontend/*.tsbuildinfo
frontend/next-env.d.ts
node_modules/*

# Environment files in all directories
**/.env
**/.env.local
**/.env.development
**/.env.develop
**/.env.production
**/.env.test
**/.env.staging
NoorIA.pem
backend/interview_agent.db
