
Flask==2.0.3
Flask==2.2.2
PyPDF2
Werkzeug==2.0.3
Werkzeug==2.2.2
boto3
boto3==1.18.69
botocore
botocore==1.21.69
flask-cors
flask-jwt-extended>=4.4.4
fpdf
fpdf==1.7.2
livekit
livekit-agents
livekit-plugins-deepgram
livekit-plugins-openai
mariadb
mariadb==1.0.7
numpy
openai
openai==0.27.0
pymupdf
python-docx
python-dotenv
requests
whisper
whisper==1.0.0