Flask==2.2.2
PyPDF2
Werkzeug==2.2.2
boto3>=1.18.69
botocore>=1.21.69
flask-cors
flask-jwt-extended>=4.4.4
fpdf==1.7.2
livekit==0.22.0
livekit-agents==0.12.18
livekit-plugins-deepgram==0.7.2
livekit-plugins-openai==0.12.1
livekit-plugins-silero
livekit-api
mariadb==1.1.12 
numpy
openai>=1.68.2
pymupdf
python-docx
python-dotenv
requests
whisper==1.0.0