Flask==2.2.2
PyPDF2
Werkzeug==2.2.2
boto3
botocore==1.37.21 
flask-cors
flask-jwt-extended
fpdf
livekit
livekit-agents
livekit-plugins-deepgram
livekit-plugins-openai
mariadb
numpy
openai
pymupdf
python-docx
python-dotenv
requests
whisper
gunicorn==20.1.0
celery==5.2.3
sqlalchemy==1.4.41
