Flask==2.2.2
PyPDF2
Werkzeug==2.2.2
boto3
botocore==1.37.21 
flask-cors
flask-jwt-extended
fpdf==1.7.2
livekit==0.22.0
livekit-agents==0.12.20
livekit-plugins-openai==0.12.3
numpy
openai
pymupdf
python-docx
python-dotenv
requests
whisper
gunicorn
sqlalchemy
flask-limiter
gunicorn
gevent
pymysql
bcrypt
pandas
openai[datalib]
openai[voice_helpers]
supervisor
brevo-python
setuptools
